Repository n24q02m/EchoVault: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

cargo-fmt:
  name: cargo fmt (Rust)
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (Rust)
  entry: cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test (Rust)
  entry: cargo test --workspace
  language: system
  pass_filenames: false

biome:
  name: biome check (TypeScript/React)
  entry: bash -c "cd src-web && pnpm exec biome check --write"
  language: system
  pass_filenames: false

typescript-check:
  name: typescript type check (TypeScript/React)
  entry: bash -c "cd src-web && pnpm run typecheck"
  language: system
  pass_filenames: false

docs: Mark Antigravity as supported, update app run command to release build, and revise handbook version with improved credential clearing instructions.
  README.md
  docs/HANDBOOK.md
Due: none

feat: prioritize text editors for Linux file opening and update README run command.
  README.md
  src-tauri/src/commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Add Antigravity data extractor with Windows/WSL support, update Windows setup instructions in README, and include new handbook and Windows schema.
  README.md
  crates/echovault-core/src/extractors/antigravity.rs
  docs/HANDBOOK.md
  src-tauri/gen/schemas/windows-schema.json
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Implement Google Drive synchronization and abstract sync providers for multi-provider support.
  Cargo.lock
  crates/echovault-core/src/config.rs
  crates/echovault-core/src/extractors/mod.rs
  crates/echovault-core/src/lib.rs
  crates/echovault-core/src/sync/google_drive.rs
  crates/echovault-core/src/sync/mod.rs
  crates/echovault-core/src/sync/oauth.rs
  doppler.yaml
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src-web/src/App.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

refactor: Simplify codebase by removing encryption, compression, and GitHub provider. Now using Rclone as the only sync provider with a simplified 2-step setup flow.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .release-please-manifest.json
  Cargo.lock
  README.md
  crates/echovault-core/Cargo.toml
  crates/echovault-core/src/config.rs
  crates/echovault-core/src/crypto/encryption.rs
  crates/echovault-core/src/crypto/key_derivation.rs
  crates/echovault-core/src/crypto/mod.rs
  crates/echovault-core/src/lib.rs
  crates/echovault-core/src/storage/chunked.rs
  crates/echovault-core/src/storage/mod.rs
  crates/echovault-core/src/sync/git.rs
  crates/echovault-core/src/sync/github.rs
  crates/echovault-core/src/sync/google_drive.rs
  crates/echovault-core/src/sync/mod.rs
  crates/echovault-core/src/sync/oauth.rs
  crates/echovault-core/src/sync/rclone.rs
  crates/echovault-core/src/vault.rs
  docs/HANDBOOK.md
  release-please-config.json
  src-tauri/binaries/README.md
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src-web/src/App.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

feat: Enhance `scan_sessions` to include sessions from local extractors and the vault index.
  crates/echovault-core/src/sync/rclone.rs
  src-tauri/src/commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Implement a text editor component using CodeMirror and a new backend command for reading file content.
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-web/package.json
  src-web/pnpm-lock.yaml
  src-web/src/App.tsx
  src-web/src/TextEditor.tsx
  src-web/src/index.css
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

feat: Add Antigravity artifact extraction and Markdown syntax highlighting to the text editor
  crates/echovault-core/src/extractors/antigravity.rs
  crates/echovault-core/src/extractors/mod.rs
  src-tauri/src/commands.rs
  src-web/package.json
  src-web/pnpm-lock.yaml
  src-web/src/TextEditor.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

feat: initialize echovault Rust crate and add GUI-related Linux dependencies to CI workflow.
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Update application logos and icons, including new SVG and transparent PNG assets.
  scripts/logo_processing.py
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/icon.ico
  src-web/public/logo.png
  src-web/public/logo.svg
  src-web/public/logo_transparent.png
Due: typescript-check

ci: add dummy rclone binaries creation to CI workflow.
  .github/workflows/ci.yml
Due: none

ci: fix pnpm missing & type check
  .github/workflows/ci.yml
  src-web/package.json
Due: biome, typescript-check

fix: missing package.json
  .github/workflows/ci.yml
Due: none

ci: allow auto merge pr
  .github/workflows/release.yml
Due: none

refactor: change please release to sematic release
  .github/workflows/release.yml
  .release-please-manifest.json
  .releaserc.json
  README.md
  package.json
  pnpm-lock.yaml
  release-please-config.json
Due: none

fix: conflict pnpm config
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: disable sematic-release-cargo's publish
  .releaserc.json
  README.md
Due: none

fix: update lint and format commands to use Biome
  .github/workflows/ci.yml
  docs/HANDBOOK.md
Due: none

fix: update Windows instructions for rclone extraction and renaming
  .releaserc.json
  docs/HANDBOOK.md
  src-tauri/binaries/README.md
Due: none

Notes added by 'git notes add'
  dc5accec745b346a6d238a507a27b061739e98a4
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: add permissions for issues in release workflow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  20bd22f034fa4e97ea43271b5bdc4a2893630b88
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

refactor: add Mise configuration and update project structure
  .mise.toml
  README.md
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: cargo-fmt, cargo-clippy, cargo-test

fix: update Mise configuration and pre-commit commands for EchoVault
  .mise.toml
  .pre-commit-config.yaml
  README.md
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Notes added by 'git notes add'
  99a682bdb6724da75a4ddf40c4a468526b448d29
Due: none

fix: move pre-commit installation instructions to the development section in README.md
  README.md
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Notes added by 'git notes add'
  f4d5923b798e91be0439b7bace924beb5394f71a
Due: none

chore: Remove Doppler config, simplify Tauri tray menu, and narrow Rclone sync support to Google Drive
  README.md
  crates/echovault-core/src/lib.rs
  crates/echovault-core/src/sync/provider.rs
  crates/echovault-core/src/sync/rclone.rs
  docs/HANDBOOK.md
  doppler.yaml
  src-tauri/src/lib.rs
  src-web/src/App.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

chore: delete file, remove folders from vsc workspace
  .github/instructions/project-context.instructions.md
  .vscode/EchoVault.code-workspace
Due: none

feat: Update README for clarity, add setup script, and remove logo processing script
  .mise.toml
  README.md
  package.json
  scripts/download-rclone.mjs
  scripts/logo_processing.py
  scripts/setup-dev.mjs
Due: none

feat: Implement cursor extractor and simplify web UI by removing the settings tab.
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  apps/core/src/extractors/cursor.rs
  apps/core/src/extractors/mod.rs
  apps/tauri/Cargo.toml
  apps/tauri/src/commands.rs
  apps/tauri/tauri.conf.json
  apps/web/src/App.tsx
Due: cargo-fmt, cargo-clippy, cargo-test

feat: implement Cline (Claude Dev) VS Code extension extractor and enhance release workflow with new build steps and dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  apps/core/src/extractors/cline.rs
  apps/core/src/extractors/mod.rs
  apps/tauri/src/commands.rs
  package.json
  scripts/reset-app.mjs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Add macOS to CI and release workflows, including Rclone binary setup.
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  Cargo.toml
Due: none

Notes added by 'git notes add'
  24628c5801064c3fa63545b9f07274e3d3277d50
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  biome: any of: ^src-web/ and \.(js|mjs|cjs)$, \.tsx$, \.jsx$, \.json$ and not (^src-web/(dist|node_modules)/)
  typescript-check: any of: ^src-web/
