Repository n24q02m/EchoVault: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Applies to: apps/* (Rust) and apps/web (TypeScript/React)
# Installation: https://pre-commit.com/
#
# Quick start:
#   1. Install pre-commit: pip install pre-commit
#   2. Install hooks: pre-commit install
#   3. Run manually: pre-commit run --all-files
#
# Bypass checks: git commit --no-verify (use only in emergency)

repos:
  # ============================================================================
  # Backend (Rust) - apps/core and apps/tauri
  # ============================================================================

  # Cargo fmt: Rust formatter
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (Rust)
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

  # Cargo clippy: Rust linter (chỉ check core, tauri cần build frontend trước)
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy (Rust)
        entry: cargo clippy -p echovault-core -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

  # Cargo test: Rust tests (chỉ test core, tauri cần build frontend trước)
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test (Rust)
        entry: cargo test -p echovault-core
        language: system
        files: \.rs$
        pass_filenames: false

  # ============================================================================
  # Frontend (TypeScript/React) - apps/web
  # ============================================================================

  # Biome: Linter + Formatter for TypeScript/React
  - repo: local
    hooks:
      - id: biome
        name: biome check (TypeScript/React)
        entry: pnpm -C apps/web exec biome check --write
        language: system
        files: ^apps/web/
        exclude: ^apps/web/(dist|node_modules)/
        types_or: [javascript, tsx, jsx, json]
        pass_filenames: false

  # TypeScript: Type checker
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript type check (TypeScript/React)
        entry: pnpm -C apps/web run typecheck
        language: system
        files: ^apps/web/
        pass_filenames: false

  # ============================================================================
  # Common Checks
  # ============================================================================

  # Check for trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        exclude_types: [image]

  # Check for files that would conflict in merge
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
        name: check for merge conflicts

  # Check JSON files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
        name: check JSON files
        types: [json]

  # Check YAML files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        name: check YAML files
        types: [yaml]

  # Check TOML files are valid
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
        name: check TOML files
        types: [toml]

chore(main): release 1.17.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

chore(main): release 1.17.0 (#30)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

fix: resolve clippy warnings for PI constant and length comparison
  apps/core/src/embedding/store.rs
  apps/core/src/utils/wsl.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(dev): release 1.17.1-beta
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

fix(release): add prerelease false
  release-please-config.json
Due: none

chore(dev): release 1.17.1-beta (#52)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

feat: promote dev to main (v1.17.1-beta) (#53)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  apps/core/src/embedding/store.rs
  apps/core/src/utils/wsl.rs
  package.json
  release-please-config.json
Due: cargo-fmt, cargo-clippy, cargo-test

chore(main): release 1.18.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

fix(release): reset manifest to stable version
  .release-please-manifest.json
Due: none

chore(main): release 1.18.0 (#54)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

refactor: Remove WSL utilities and related code
  apps/cli/src/main.rs
  apps/core/src/config.rs
  apps/core/src/embedding/chunker.rs
  apps/core/src/extractors/aider.rs
  apps/core/src/extractors/antigravity.rs
  apps/core/src/extractors/claude_code.rs
  apps/core/src/extractors/cline.rs
  apps/core/src/extractors/codex.rs
  apps/core/src/extractors/cursor.rs
  apps/core/src/extractors/gemini_cli.rs
  apps/core/src/extractors/jetbrains.rs
  apps/core/src/extractors/mod.rs
  apps/core/src/extractors/opencode.rs
  apps/core/src/extractors/vscode_copilot.rs
  apps/core/src/extractors/zed.rs
  apps/core/src/interceptor/mod.rs
  apps/core/src/parsers/aider.rs
  apps/core/src/parsers/codex.rs
  apps/core/src/parsers/cursor.rs
  apps/core/src/parsers/jetbrains.rs
  apps/core/src/parsers/mod.rs
  apps/core/src/parsers/opencode.rs
  apps/core/src/parsers/vscode_copilot.rs
  apps/core/src/parsers/zed.rs
  apps/core/src/utils/mod.rs
  apps/core/src/utils/wsl.rs
  apps/core/tests/fixtures/codex_session.jsonl
  apps/core/tests/fixtures/jetbrains_workspace.xml
  apps/core/tests/fixtures/vscode_copilot_v1.jsonl
  apps/core/tests/fixtures/vscode_copilot_v3.jsonl
  apps/core/tests/fixtures/zed_agent_thread.json
  apps/core/tests/parser_tests.rs
  apps/tauri/src/commands.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Add comprehensive EchoVault testing guide and update related files
  .agent/workflows/echovault-testing.md
  .gitignore
  README.md
  apps/core/src/extractors/mod.rs
  apps/core/src/mcp.rs
  apps/web/biome.json
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/tests/embedding-settings.spec.ts
  apps/web/tests/happy-path.spec.ts
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

chore(dev): release 1.19.0-beta
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

chore(dev): release 1.19.0-beta (#59)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

fix(web): update biome.json for v2 compatibility
  apps/web/biome.json
  apps/web/package.json
  apps/web/src/App.tsx
  pnpm-lock.yaml
Due: biome, typescript-check

feat(embedding): redesign UX with LiteLLM-style provider dropdown
  apps/core/src/config.rs
  apps/tauri/src/commands.rs
  apps/web/src/App.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

fix(parse): show parsed markdown instead of raw file in TextEditor
  apps/web/src/App.tsx
  apps/web/src/TextEditor.tsx
Due: biome, typescript-check

fix(sync): parse rclone transferred count from stderr
  apps/core/src/sync/rclone.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(interceptor): fix race condition and add more target domains
  apps/core/src/interceptor/logger.rs
  apps/core/src/interceptor/mod.rs
  apps/core/src/interceptor/proxy.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(settings): add Reset Setup button to clear config
  apps/tauri/src/commands.rs
  apps/tauri/src/lib.rs
  apps/web/src/App.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, biome, typescript-check

chore(embedding): add TODO for sqlite-vec migration
  apps/core/src/embedding/store.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Archive project with README notice (#61)
  README.md
Due: none

chore(dev): release 1.19.0-beta.1
  .release-please-manifest-beta.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

chore: implement dual manifest strategy for release pipeline
  .github/scripts/check-ci-cd-status.sh
  .github/workflows/cd.yml
  .release-please-manifest-beta.json
  .release-please-manifest.json
Due: none

chore: implement dual manifest strategy for release pipeline
  .github/scripts/check-ci-cd-status.sh
  .github/workflows/cd.yml
  .release-please-manifest-beta.json
Due: none

fix(cd): add git config identity for sync-dev step
  .github/workflows/cd.yml
Due: none

docs: add discontinuation notice referencing mnemo-mcp
  README.md
Due: none

chore(main): release 1.18.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

chore(dev): release 1.19.0-beta.1 (#62)
  .release-please-manifest-beta.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

chore(main): release 1.18.1 (#63)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none

fix(cd): auto-resolve merge conflicts in promote workflow
  .github/workflows/cd.yml
Due: none

chore(dev): release 1.19.0-beta.2
  .release-please-manifest-beta.json
  CHANGELOG.md
  Cargo.toml
  package.json
Due: none
